<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear evento</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .row {
          display: flex;
        }
        
        /* Create two equal columns that sits next to each other */
        .column {
          flex: 50%;
          padding: 10px;
        }
    </style>
</head>
<body>
    <div name="Titulo">
        <center>
        <h1>Crear Evento</h1>
        </center>
        </div>

        <div name="Parámetros" class="row">
            <div name="Lado izquierdo" class="column">

                <div>
                    <h2>Titulo</h2>
                    <input type="text" id="fname" name="fname" placeholder="Titulo del evento">
                </div>

                <div>
                    <h2>Tipo de evento</h2>
                    <input type="text" id="fname" name="fname" placeholder="Tipo del evento">
                </div>

                <div>
                    <h2>Descripción</h2>
                    <input type="text" id="fname" name="fname" placeholder="Descripción">
                </div>

                <div class="row" name="Fechas">
                    <div class="col-2"></div>
                    <div class="column">
                        <h3>Fecha inicio del evento</h3>
                        <input type="date" id="Fecha_inicio" name="Fecha_inicio">
                    </div>
                    <div class="col-2"></div>
                    <div class="column">
                        <h3>Fecha fin del evento</h3>
                        <input type="date" id="Fecha_fin" name="Fecha_fin">
                    </div>
                </div>
                <div>
                    <h2>Modalidad de inscripción</h2>
                    <select name="Modalidad_inscripción" id="Modalidad_inscripción">
                        <option value="" disabled selected>Modalidad de inscripción</option>
                    </select>
                </div>
            </div>
            <div name="Lado derecho" class="column">

                <div>
                    <h2>Capacidad máxima de asistentes</h2>
                    <input type="text" id="fname" name="fname" placeholder="Capacidad">
                </div>
                
                <div>
                    <h2>Requisitos de asistencia</h2>
                    <input type="text" id="fname" name="fname" placeholder="Requisitos">
                </div>
                <div>
                    <h2>Lugar o sala donde se realizará</h2>
                    <input type="text" id="fname" name="fname" placeholder="Lugar">
                </div>
                <div>
                    <h1>Material de apoyo</h1>
                </div>
                <div>
                    <h2>Breve mensaje o slogan</h2>
                    <input type="text" id="fname" name="fname" placeholder="Slogan">
                </div>
                <div>
                    <h2>Afiche o imagen representativa</h2>
                    <input type="file" id="fname" name="fname" placeholder="Imagen">
                </div>
            </div>
        </div>
    <center>
        <div name="Terminos y condiciones">
            <h2>Terminos y condiciones</h2>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="">
            <label for="vehicle1">Acepto los terminos,condiciones y politicas del sistema</label>
        </div>
        <br>
        <div>
            <button type="submit">Crear evento</button>
        </div>
    </center>
</body>
</html>
