{% extends 'base.html' %}

{% block title %}Crear Área de Competencia{% endblock %}

{% block content %}
{% include 'shared/admin_header.html' %}

<div class="container-fluid d-flex">
  {% include 'admin/_sidebar.html' %}

  <div class="form-area-container container mt-4">
    <h1 class="text-center azul-umss mb-5">Crear Área de Competencia</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <form id="miFormulario" method="POST" enctype="multipart/form-data"  action="{{ url_for('areas_bp.crear_area', evento_id=evento_id) }}">
        <input type="hidden" name="idevento" value="{{ evento_id }}">
      <div class="row">
        <!-- Parte izquierda -->
        <div class="col-md-5">
          <div class="mb-4">
            <h2>Título</h2>
            <input type="text" name="titulo" id="titulo" class="form-area-input" placeholder="Título del area" required>
          </div>

          <div class="mb-4">
            <h2>Descripción</h2>
            <input type="text" name="descripcion" id="descripcion" class="form-area-input" placeholder="Descripción del área" required>
          </div>

          <div class="mb-4">
            <h2>Afiche o imagen representativa</h2>
            <input type="file" name="imagen" id="imagen" accept="image/jpeg, image/png, image/webp" class="form-area-input">
            <div id="image-error" class="text-danger mt-2"></div>
            <div id="preview-container" class="border rounded overflow-hidden mt-2 ratio ratio-1x1">
              <img id="preview-image" src="" alt="Vista previa" class="img-fluid mx-auto d-block object-fit-contain">
            </div>
          </div>
        </div>

        <!-- Parte derecha -->
        <div class="col-md-6 offset-md-1">
          <h2>Procesos de Trámite</h2>
          <div class="mb-3">
            <h5><b>❗ Asesoría inicial</b></h5>
            <p>Evaluación del caso y determinación de requisitos específicos</p>
          </div>
          <div class="mb-3">
            <h5><b>❗ Recopilación de documentos</b></h5>
            <p>Preparación del expediente completo según normativa vigente</p>
          </div>
          <div class="mb-3">
            <h5><b>❗ Ingreso formal</b></h5>
            <p>Ingreso formal del trámite ante la autoridad competente</p>
          </div>
        </div>
      </div>

      <div class="text-center mt-4 text-danger">
        <input type="checkbox" id="TerminosYCondiciones" required>
        <label for="TerminosYCondiciones">Acepto los términos y condiciones</label>
      </div>

      <div class="text-center mt-3 mb-5">
        <button type="submit" id="crear_area" class="form-area-button">
          <span class="icono">✏️</span>Crear Área
        </button>
      </div>
    </form>

    <div id="mensaje" class="text-center mt-3"></div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/areas/crearArea.js') }}"></script>
{% endblock %}
