.venv
.vscode
static/scss/bootstrap

__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
*.pyd
migrations/alembic.ini
migrations/versions/*.py
migrations/
.env
.env
test/test_minimo.py
test/pruebaInicioSesion.py
test/geckodriver.log
test/geckodriver.exe
geckodriver.log
.env
/automated_testing
/automated_testing
automated_testing/PruebaCreacionDeEstudianteFirefox.py
automated_testing/PruebaInicioSesionFirefox.py
/static/uploads
static/img/uploads

.env
test/user create.py
