/* SIDEBAR por defecto (colapsado) */
.sidebar {
  width: 70px;                 /* ancho reducido */
  transition: width 0.3s;      /* animación de expansión */
  background-color: #f8f9fa;
  overflow-x: hidden;          /* oculta contenido horizontal */
  overflow-y: auto;
  height: 100vh;
  position: relative;          /* no fijo: se desplaza con la página */
  border-right: 1px solid #dee2e6;
  z-index: 1030;               /* delante del contenido, si gustas */
}

/* Al hacer hover se expande */
.sidebar:hover {
  width: 240px;                /* ancho expandido */
}

/* Oculta las etiquetas de texto por defecto */
.sidebar .label {
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;         /* evita saltos de línea */
}

/* Al hacer hover en la sidebar, muestra el texto */
.sidebar:hover .label {
  opacity: 1;
}

/* Ajustes de la nav-link */
.sidebar .nav-link {
  color: #333;
  padding: 1rem;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #000;
}

.sidebar.collapsed .label {
  display: none !important;
}

.sidebar .label {
  text-align: center;
}


.modal-inscripcion {
    display: none;
    position: fixed; /* Mantener posición fija */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1050; /* Mayor que el z-index del sidebar */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
}



.modal-contenido {
    position: relative;
    background: white;
    max-width: 500px;
    margin: 0;
    top: 	auto;
    transform: none;
    box-sizing: border-box;     /* que el padding no sume ancho extra */
    width: 80vw;                /* 80% del ancho de la ventana */
    max-width: 800px;           /* pero como máximo 800px */
    border-radius: 8px;
    z-index: 1051; /* Mayor que el fondo del modal */
}

.modal-titulo {
  margin-top: 5%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  color: #13477b;
}
.Estudiantes{
  margin-top: 10%;
}

.boton-cancelar{
  margin: 3%;
}