{% extends "base.html" %}

{% block content %}
  {% include "shared/admin_header.html" with context %}

<div class="d-flex">
  {% include "admin/_sidebar.html" %}
  <div class="flex-grow-1 p-4">
    <h1 class="text-center">
      <span class="text-secondary">Bienvenido</span>
      <span class="text-primary">{{user.first_name}}</span>
    </h1>

    <h4 class="mt-5 mb-4 text-secondary">Convocatorias Activas</h4>
      <div class="row">
        {% for evento in eventos %}
          {% include "shared/_card_evento.html" %}
        {% endfor %}
      </div>

    {% if 'tutor' in roles_usuario %}
      <div class="mt-5">
        <h3 class="mb-4 text-secondary">Detalles de Inscripción</h3>
        <div class="row align-items-center">
          <!-- Columna izquierda -->
          <div class="col-md-6">
            <ol class="list-group list-group-flush">
              <li ><b>Proceso de Inscripción</b></li>
              <li > Seleccione una convocatoria</li>
              <li > Elija el área y categoría</li>
              <li > Seleccione los estudiantes a inscribir</li>
              <li > Complete el formulario de inscripción</li>
              <li > Confirme los datos y envíe la solicitud</li>
            </ol>
          </div>

          <!-- Columna derecha -->
          <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/shared/inscripcion_banner.webp') }}" class="img-fluid rounded shadow" alt="Proceso de inscripción">
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="agregarEstudianteModal" tabindex="-1" aria-labelledby="agregarEstudianteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="POST" action="{{ url_for('tutores_bp.agregar_estudiante') }}">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="agregarEstudianteModalLabel">Agregar Estudiante</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="student_email" class="form-label">Correo electrónico del estudiante</label>
                <input type="email" class="form-control" id="student_email" name="student_email" placeholder="ejemplo@estudiante.com" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
