{% extends "base.html" %}
{% block title %}Inscripciones del Evento{% endblock %}

{% block content %}
{% include 'shared/admin_header.html' %}
<div class="container mt-4">
    <!-- MENSAJES FLASH-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
  <div class="text-center mb-4">
  <a href="{{ url_for('inscripciones_bp.descargar_reporte_excel', event_id=event_id) }}" class="btn btn-outline-success me-2">
    📥 Descargar Excel
  </a>
  <a href="{{ url_for('inscripciones_bp.descargar_reporte_pdf', event_id=event_id) }}" class="btn btn-outline-danger">
    🧾 Descargar PDF
  </a>
</div>
  <h2 class="text-center mb-4">Inscripciones por Área y Categoría</h2>


  {% for area, datos_area in datos.items() %}
  <h4>Área: {{ area }}</h4>
  <ul>
    {% for categoria, cat_data in datos_area.categories.items() %}
      <li>
        <strong>Categoría:</strong> {{ categoria }}<br>
        <ul>
          {% for ins in cat_data.inscriptions %}
            <li>{{ ins.student_name }} - {{ ins.course }} - {{ ins.status }} - {{ ins.inscription_date }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
</div>
{% endblock %}
