    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EventMaker{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_evento.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ver_evento.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form_area.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/todos_eventos.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_user.css') }}">
    </head>
        <body>
            {% block content %}{% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            {% block scripts %}{% endblock %}
        </body>
    </html>
