{% extends 'base.html' %}

{% block title %}Mis Convocatorias{% endblock %}

{% block content %}
{% include 'shared/admin_header.html' %}
<div class="container-fluid d-flex">
  {% include 'admin/_sidebar.html' %}

  <div class="container mt-4">
              <!-- MENSAJES FLASH-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
    <h3 class="fw-bold mb-4 text-start bg-light px-3 py-2 rounded">Todas mis Convocatorias</h3>
    <div class="row">
      {% for evento in eventos %}
        {% include "shared/_card_evento.html" %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
