{% extends 'base.html' %}

{% block title %}Detalle del Evento{% endblock %}

{% block content %}
{% include 'shared/admin_header.html' %}
<div class="container-fluid d-flex">
  {% include 'admin/_sidebar.html' %}

  <div class="ver-evento-container container">

    <div class="text-center">
      {% if evento.afiche %}
        <img src="{{ url_for('static', filename=evento.afiche) }}" class="ver-evento-afiche" alt="Afiche del evento">
      {% else %}
        <img src="{{ url_for('static', filename='img/shared/eventDefault.png') }}" class="ver-evento-afiche" alt="Afiche por defecto">
      {% endif %}
    </div>

    <div class="ver-evento-header">
      <h1>{{ evento.nombre_evento }}</h1>
      <p class="ver-evento-slogan">{{ evento.slogan }}</p>
    </div>

    <div class="ver-evento-section">
      <h2><i class="bi bi-card-text ver-evento-icon"></i>Descripción</h2>
      <p>{{ evento.descripcion_evento }}</p>
    </div>

    <div class="ver-evento-section">
      <h2><i class="bi bi-calendar-event ver-evento-icon"></i>Fechas</h2>
      <div class="ver-evento-fechas">
        <p><strong>Inicio:</strong> {{ evento.inicio_evento.strftime('%d/%m/%Y') }}</p>
        <p><strong>Fin:</strong> {{ evento.fin_evento.strftime('%d/%m/%Y') }}</p>
      </div>
    </div>

    <div class="ver-evento-section">
      <h2><i class="bi bi-geo-alt ver-evento-icon"></i>Ubicación</h2>
      <p>{{ evento.ubicacion }}</p>
    </div>

    <div class="ver-evento-section">
      <h2><i class="bi bi-people ver-evento-icon"></i>Capacidad y requisitos</h2>
      <p><strong>Capacidad:</strong> {{ evento.capacidad_evento }}</p>
      <p><strong>Requisitos:</strong> {{ evento.requisitos }}</p>
    </div>

    <div class="text-center">
      <button class="ver-evento-btn-inscribirse">Inscribirme ahora</button>
    </div>
      {% if 'area:create' in permisos %}
        <div class="text-end me-5">
          <a href="{{ url_for('areas_bp.crear_area', evento_id=evento.id_evento) }}" class="btn btn-outline-primary crear-area-boton">
            ➕ Crear Área
          </a>
        </div>
    {% endif %}

  </div>
</div>



{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ver_evento.css') }}">
{% endblock %}
